<div id=<%= "item-#{item.id}" %> class='row'>
  <div class='col-md-1 check'>
    <%= link_to "", user_item_path(@user.id, item.id), method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
  </div>
  <div class='col-md-10'>
    <h3><%= item.name %></h3>
  </div>
</div>